<div class="application-container" style="width: 80%; margin-left: 50px">
  <button>Start Animation</button>
  
  <p>By default, all HTML elements have a static position, and cannot be moved. To manipulate the position, remember to
    first set the CSS position property of the element to relative, fixed, or absolute!</p>
  
  <div id="box" style="background:#98bf21;height:100px;width:100px;position:absolute;"></div>
</div>

<script>
  $(document).ready(function () {
    $("button").click(function () {
      $("#box").animate({
        left: '250px',
        height: '+=150px',
        width: '+=150px'
      });
    });
  });
</script>