$primary-color: #ff0;
$secondary-color: #00e6e6;
$button-color: #442255;
$button-hover-color: #442259;
$secondary-link: #bd92d3;

html {
  height: 100%;
}

body {
  margin-top: 75px;
  background: $secondary-color;
  height: 100%
}

.container {
  min-height: 100%;
  position: relative;
}

.btn-primary {
  background: $button-color;
  border: .5px solid #bd92d3;
  &:hover {
    background: $button-hover-color;
    border: .5px solid #bd92d3;
    transform: scale(1.03);
  }
}

.navbar {
  background: linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d);
  height: 55px;
  border: none;
  box-shadow: 0 4px 8px 4px rgba($color: #000000, $alpha: 0.3);
  a {
    color: $primary-color !important;
    line-height: 25px;
    &:hover {
      color: $secondary-color !important;
    }
  }
}

.user-name {
  padding: 0 !important ;
  padding-left: 5px;
  text-align: center;
  .fa {
    padding-right: 3px;
  }
  a {
    color: $primary-color !important;
    margin: 0 !important;
    padding: 5px !important;
    line-height: 35px;
  }
  a:hover, a:focus {
    background: none !important;
  }
}

.logout {
  padding-left: 0;
  a {
    color: #fff;
  }
  a:hover {
    background: none !important;
  }
}

.nav.navbar-right {
  padding-bottom: 10px;
  padding-top: 5px;
}

.nav.navbar-nav {
  .navbar-link {
    border-radius: 5px;
    color: #fff;
    padding: 8px;
  }
  .navbar-link:focus, .navbar-link:hover {
    background: #3071a9;
    color: #fff;
  }
  li a {
    margin-right: 5px;
    margin-top: 2px;
  }
}

.btn-primary:visited, .btn-danger:visited {
  color: #fff;
}

.sign-up-link {
  background: none !important;
}

.navbar-toggle {
  border: 1px solid $primary-color !important;
}

.icon-bar {
  background-color: $primary-color !important;
}
.navbar-collapse {
  border: none !important;
}

.well {
  background: #1d0f24;
  color: #fff;
}

.shared-links {
  color: $primary-color !important;
}

.shared-links-secondary {
  color: $secondary-link;
  &:hover {
    color: $button-hover-color;
  }
}
.credit-card-div {
  // margin-bottom: 20px !important;
}

// /* Welcome Page */

.welcome-main-div {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
.features {
  ul {
    margin-left: 0;
    padding-left: 15px;
  }
}

.jumbotron {
  text-align: center;
  min-width: 100%;
  min-height: 100%;
  background-image: asset-url('photos-2.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  font-family: 'Helvetica Neue' !important;
  font-stretch: expanded;
  padding-top: 25px;
  padding-bottom: 25px;
  text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
  border: solid 5px #fff;
  border-radius: 30px !important;
}

.no-left-padding {
  padding-left: 0 !important;
}

.listing {
  list-style: none;
  padding-left: 0;
}

.plan {
  border: solid 5px #fff;
  border-radius: 30px !important;
  text-align: center;
  min-height: 100%;
  ul li {
    list-style: none;
    font-size: 16px;
  }
}

.premium {
  width: 32%;
  .sign-up {
    margin-top: 44px;
  }
}
.amaze {
  width: 32%;
  margin-left: 2%;
  margin-right: 2%;
  .sign-up {
    margin-top: 22px;
  }
}
.supra {
  width: 32%;
}

.extra {
  color: $primary-color;
}

.extra-extra {
  color: $secondary-color;
}

/* Footer */
.footer {
  margin-top: 30px;
  height: 60px;
}

// /* Media Queries */
@media (max-width: 500px) {
  .welcome-main-div {
    width: 96%;
  }
  .premium {
    width: 100%;
    padding-bottom: 63px;
  }
  .amaze {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 41px;
  }
  .supra {
    width: 100%;
  }
  .cvv-div {
    padding-left: 0;
  }
  .card-exp label {
    margin-left: 16px !important;
  }
}

@media (max-width: 768px) {
  .collapse {
    background: linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d);
  }
  .navbar-right {
    padding-right: 12vw;
  }
  .premium {
    width: 100%;
    padding-bottom: 63px;
  }
  .amaze {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 41px;
  }
  .supra {
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1170px) {
  .premium {
    width: 100%;
    padding-bottom: 63px;
  }
  .amaze {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 41px;
  }
  .supra {
    width: 100%;
  }
}

@media (min-width: 1171px) {
  .amaze {
    margin: 0 2% 0 2%;
  }
}