@import url('https://fonts.googleapis.com/css?family=Lato|Permanent+Marker');

$primary-color: #ff0;
$secondary-color: #00e6e6;
$button-color: #442255;
$button-hover-color: #442259;
$secondary-link: #bd92d3;
$delete-color: #cd4a24;
$green-color: #009900;
$maroon-color: #6d1d41;
$off-white-color: #f2f2f2;

html {
  height: 100%;
}

body {
  margin-top: 75px;
  background: #fff !important;
  height: 100%;
  font-size: 18px;
  font-family: 'Lato', sans-serif !important;
}

a, p {
  font-size: 18px;
}

label {
  font-size: 16px;
}

.text-muted {
  font-size: 14px;
}

.application-container {
  margin-top: 50px;
}

.btn-primary {
  background: $button-color !important;
  border: .5px solid #bd92d3 !important;
  padding: 8px 15px 8px 15px !important;
  font-size: 16px !important;
  &:hover {
    background: $button-hover-color !important;
    border: .5px solid #bd92d3 !important;
    transform: scale(1.03);
  }
}

.navbar {
  background: linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d);
  border: none;
  border-radius: 0;
  box-shadow: 0 4px 8px 4px rgba($color: #000000, $alpha: 0.3);
  a {
    color: $primary-color !important;
    &:hover {
      color: $secondary-color !important;
    }
  }
}

.navbar-brand {
  font-family: 'Permanent Marker', sans-serif;
}

.user-name {
  padding: 0 !important ;
  .fa {
    padding-right: 3px;
  }
  a {
    color: $secondary-color !important;
    margin: 0 !important;
    padding: 5px !important;
    line-height: 35px;
  }
  a:hover, a:focus {
    background: none !important;
    color: $primary-color !important;
  }
}

.logout {
  padding-left: 0;
  a {
    color: #fff;
  }
  a:hover {
    background: none !important;
  }
}

.nav.navbar-right {
  padding-bottom: 10px;
  padding-top: 5px;
}

.nav.navbar-nav {
  .navbar-link {
    border-radius: 5px;
    color: #fff;
    padding: 8px;
  }
  .navbar-link:focus, .navbar-link:hover {
    background: #3071a9;
    color: #fff;
  }
  li a {
    margin-right: 5px;
  }
}

.btn-primary:visited, .btn-danger:visited {
  color: #fff;
}

.sign-up-link {
  background: none !important;
}

.navbar-toggler {
  border: 1px solid $primary-color !important;
  background-color: $primary-color !important;
}

.navbar-collapse {
  border: none !important;
}


/* User forms */


.well {
  padding: 15px;
  margin-top: 50px;
  background: #000000;
  color: #fff;
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.3);
  border: none;
}

.shared-links {
  color: $primary-color !important;
}

.shared-links-secondary {
  color: $secondary-link;
  &:hover {
    color: $button-hover-color;
  }
}

.remember-me-label {
  padding-right: 15px;
  margin-left: -10px;
}

.form-check-input {
  font-size: 20px;
  margin-top: 6px !important;
  cursor: crosshair;
}


/* Welcome Page */


.welcome-main-div {
  width: 100%;
  height: 100%;
  margin: auto;
}
.features {
  ul {
    margin-left: 0;
    padding-left: 15px;
  }
}

.jumbotron {
  height: 200px;
  text-align: center;
  min-width: 100%;
  height: 100vh;
  background-image: asset-url('photos-2.jpg');
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  color: #fff;
  font-stretch: expanded;
  padding-top: 50px;
  padding-bottom: 50px;
  text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
  border: solid 1px #000;
  border-radius: 2px !important;
  h2 {
    padding-top: 30vh;
  }
}
.welcome-btn {
  margin-top: 25px;
  font-size: 30px !important;
  text-decoration: none !important;
  color: #fff;
  &:hover {
    color: #fff;
  }
}
.no-left-padding {
  padding-left: 0 !important;
}

.plan-div {
  width: 80%;
  margin: auto;
  height: 50%;
  padding-top: 75px;
}
.listing {
  list-style: none;
  padding-left: 0;
}

.plan {
  background: #000 !important;
  color: #fff;
  text-align: center;
  min-height: 100%;
  ul li {
    list-style: none;
    font-size: 16px;
  }
}

.col-div {
  margin-bottom: 25px;
}

.price {
  color: orange;
}

.extra {
  color: $primary-color;
}

.extra-extra {
  color: $secondary-color;
}


/* Image index & show page */
.image-pages {
  margin-top: 50px;
}

.image-card {
  background: $off-white-color;
  &:hover {
    background: darken($off-white-color, 1%);
    cursor: grab;
  }
}
.image-index-title {
  padding-top: 15px;
  a {
    text-decoration: none !important;
    color: #000;
    &:hover {
      color: $secondary-color;
    }
  }
}
.image-show-card {
  padding: 10px;
}

.show-image {
  max-width: 100%;
  height: auto;
}
.index-card-image {
  max-width: 100%;
  max-height: 200px;
  height: auto;
  width: auto;
}
.image-btn-group {
  padding-bottom: 15px;
  .btn {
    font-size: 14px;
    border-radius: 0 !important;
    color: #fff;
  }
  .btn-show {
    background: $maroon-color;
    &:hover {
      background: darken($maroon-color, 10%);
    }
  }
  .btn-edit {
    background: $green-color;
    &:hover {
      background: darken($green-color, 10%);
    }
  }
  .btn:hover {
    color: $secondary-color;
  }
  .btn-destroy {
    background: $delete-color;
    &:hover {
      background: darken($delete-color, 10%);
    }
  }
}


/* Footer */


.footer {
  margin-top: 30px;
  height: 60px;
}


// /* Media Queries */


@media (max-width: 500px) {
  .welcome-main-div {
    width: 100%;
  }
  .premium {
    width: 100%;
    padding-bottom: 63px;
  }
  .amaze {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 41px;
  }
  .supra {
    width: 100%;
  }
  .cvv-div {
    padding-left: 0;
  }
  .card-exp label {
    margin-left: 16px !important;
  }
}

@media (max-width: 768px) {
  .navbar-right {
    padding-right: 12vw;
  }
  .premium {
    width: 100%;
    padding-bottom: 63px;
  }
  .amaze {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 41px;
  }
  .supra {
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1170px) {
  .plan {
    margin-bottom: 2em;
  }
  .collapse {
      display: none !important;
  }
}

@media (min-width: 1171px) {

}

#panel {
  padding: 50px;
  display: none;
}